.social-media {
  margin-bottom: 20px;

  path {
    fill: $c-gray;
    transition: fill 0.3s;
  }

  svg {
    display: block;
  }

  a {
    display: inline-block;
    width: 65px;
    padding: 0 10px;

    &:hover {
      path {
        fill: $c-white;
      }
    }
  }
}

.conclusion {
  a {
    color: $c-white;

    &:hover {
      color: $c-gray;
    }
  }
}
