code,
pre {
  color: $c-black;
  text-shadow: 0 1px $c-white;
  font-family: $f-monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: break-all;
  word-wrap: break-word;
  tab-size: 4;
  hyphens: none;

}

:not(pre) > code,
pre {
  background: $c-code-bg;
  padding: 0 0.2em;
}

.highlight {
  margin-bottom: $base-space;
  border: 1px dashed $c-code-border;
  line-height: 1.2;
}
