* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba($c-black, 0);
  // scss-lint:disable DuplicateProperty
  -webkit-tap-highlight-color: transparent;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  // scss-lint:disable DuplicateProperty
  font-size: 100%;
  font-size: remCalc(16px);
  height: 100%;
}

body {
  height: 100%;
  font-size: 1rem;
  line-height: 1.4;
  position: relative;
  width: 100%;
  color: $c-gray;
  font-family: $f-content;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  transition: color 0.2s;
  text-decoration: none;
}

table {
  text-align: left;
  width: 100%;
}

tbody {
  tr {
    transition: background 0.2s;

    &:hover {
      background: $c-white;
    }
  }
}

th,
td {
  border-bottom: 1px solid $c-table-header-bg;
  padding: 20px
}

th {
  text-transform: uppercase;
  font-size: 11px;
  background: $c-table-header-bg;
}
