h1,
h2,
h3,
h4 {
  font-family: $f-headline;
  font-weight: normal;
  line-height: 1.1;
  margin: $base-space 0 ($base-space / 2);
  font-weight: 700;
  border-left: 5px solid $c-green;
  padding-left: 8px;
}

h1,
h2 {
  border-left: 0;
  padding: 0 0 9px;
  border-bottom: 4px solid $c-green;
}

h1 {
  font-size: remCalc(44px);
}

h2 {
  font-size: remCalc(32px);
}

h3 {
  font-family: $f-content;
  margin-bottom: 10px;
  font-size: remCalc(24px);
}

h4 {
  font-family: $f-content;
  font-size: remCalc(18px);
}

p {
  margin: 0 0 15px;
}
